.header-div {
  background: #f8f9fa;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.home-page{
  background: transparent;
  color: #fff !important;
  position: absolute;

}

::ng-deep .p-menubar {
  background: transparent;
  width: 85%;
  margin: auto;
  border-radius: 0;
  border: none;
  padding: 1rem 0;

  .p-menubar-button {
    position: absolute;
    right: 1rem;
  }

  p-menubarsub {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .p-menuitem-link {
    margin: auto 1rem;
  }
  .p-menuitem-text {
    background: transparent ;
    color: #fff ;
  }
  ::ng-deep .p-menuitem-link-active {
    background: rgb(111, 206, 238) ;
    color: #fff !important;
    .p-menuitem-text {
      color: #fff !important;
      box-shadow: none;
      outline: 0;
    }
  }
  

  .p-menuitem-link:focus {
    box-shadow: none;

    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}

@media only screen and (max-width: 1189px) and (min-width: 956px) {
  ::ng-deep .p-menubar {
    p-menubarsub {
      width: 100%;
      display: flex;
    }
    .p-menuitem-link {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 912px) {
  .header-div {
    padding: 0rem 2rem;
  }
}
