.header-div {
  background: #f8f9fa;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  // margin-bottom: 4rem;
}
::ng-deep .p-menubar {
  width: 80%;
  margin: auto;
  border-radius: 0;
  border: none;
  padding: 1rem 0;

  .p-menubar-button {
    position: absolute;
    
    right: 1rem;
  }

  p-menubarsub {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .p-menuitem-link {
    // margin: auto 1rem;
  }
  ::ng-deep .p-menuitem-link-active {
    background: rgb(111, 206, 238) !important;
    color: #fff !important;
    .p-menuitem-text {
      color: #fff !important;
      box-shadow: none;
      outline: 0;
    }
  }

  .p-menuitem-link:focus {
    box-shadow: none;
  
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  
}

// :host ::ng-deep .p-menuitem-link:enabled:focus {
//   box-shadow: none;

//   border: none;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
// }



@media only screen and (max-width: 912px) {
  .header-div {
  padding: 0rem 2rem ;
  }
  ::ng-deep .p-menubar {
    width: 100%;
  }
 
}


