.container {
  // background: #000;
  // min-height: 100vh;
  // display: flex;
  // flex-direction: column;
}
// .main-container {
  // width: 80%;
  // margin: 2rem auto;
// }


footer {
  background: #000 ;
  color: #fff;
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
}
// @media only screen and (max-width: 912px) {
//   .main-container {
//     width: 90%;
//   }
// }

// @media only screen and (max-width: 450px) {
//   .main-container {
//     width: 95%;
//   }
  
// }
